/* 
 * @theme base
 * @auto-scaling true
*/

@import 'uncover';

.columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.border-right-white {
  border-right: 3px solid #ffffff;
}

ul {
  list-style-type: none;
  margin-left: 40px;
}


img[alt="1"] {
  view-transition-name: one;
  contain: layout; /* required */
}

img[alt="2"] {
  view-transition-name: two;
  contain: layout; /* required */
}

img[alt="3"] {
  view-transition-name: three;
  contain: layout; /* required */
}

/* Generic image styling for number icons */
img:is([alt="1"], [alt="2"], [alt="3"]) {
  height: 64px;
  position: relative;
  top: -0.1em;
  vertical-align: middle;
  width: 64px;
}